<!-- FOOTER START -->
<footer class="site-footer footer-dark">
    <!-- COLL-TO ACTION START -->
    <div class="section-full overlay-wraper site-bg-primary">

        <div class="section-content ">
            <!-- COLL-TO ACTION START -->
            <div class="wt-subscribe-box">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <div class="call-to-action-left p-tb20 p-r50">
                                <h4 class="text-uppercase m-b10">Jesteśmy gotowi zbudować Twoje marzenie. Opowiedz nam
                                    więcej o swoim planowanym zabiegu.</h4>
                                <p>Skorzystaj z wiedzy specjalistów MAGIC SALON i przejdź do kontaktu.</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="call-to-action-right p-tb30">
                                <a href="kontakt.html"
                                    class="site-button-secondry text-uppercase radius-sm font-weight-600">
                                    Kontakt
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- FOOTER BLOCKES START -->
    <div class="footer-top overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <!-- ABOUT COMPANY -->
                <div class="col-lg-3 col-md-6">
                    <div class="widget widget_about">
                        <h4 class="widget-title">O Magic Salon</h4>
                        <div class="logo-footer clearfix p-b15">
                            <a href="index.html"><img src="images/logo-7.png" width="230" height="67"
                                    alt="Logo Magic Salon"></a>
                        </div>
                        <p>MAGIC SALON to nowoczesny salon kosmetyczny i beauty spa. Zabiegi na twarz i ciało, lasery
                            medyczne, manicure, lifting rzęs i więcej – poczuj magię pielęgnacji!</p>
                    </div>
                </div>
                <!-- RESENT POST -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget recent-posts-entry-date">
                        <h4 class="widget-title">Na naszym blogu</h4>
                        <div class="widget-post-bx">
                            <div class="bdr-light-blue widget-post clearfix  bdr-b-1 m-b10 p-b10">
                                <div class="wt-post-date text-center text-uppercase text-white">
                                    <strong>20</strong>
                                    <span>Mar</span>
                                </div>
                                <div class="wt-post-info">
                                    <div class="wt-post-header">
                                        <h6 class="post-title"><a
                                                href="blog/odkryj-moc-twoj-piekno-najnowsze-trendy-i-innowacje-w-pielegnacji-skory-w-magic-salon.html">Odkryj
                                                Moc Twój Piękno: Najnowsze Trendy i Innowacje w Pielęgnacji Skóry w
                                                MAGIC SALON</a></h6>
                                    </div>
                                    <div class="wt-post-meta">
                                        <ul>
                                            <li class="post-author"><i class="fa fa-user"></i>Przez MAGIC SALON</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="bdr-light-blue widget-post clearfix  bdr-b-1 m-b10 p-b10">
                                <div class="wt-post-date text-center text-uppercase text-white">
                                    <strong>30</strong>
                                    <span>Mar</span>
                                </div>
                                <div class="wt-post-info">
                                    <div class="wt-post-header">
                                        <h6 class="post-title"><a
                                                href="blog/przedluzanie-rzes-i-laminacja-twoje-piekno-w-nowym-wydaniu.html">Przedłużanie
                                                Rzęs i Laminacja – Twoje Piękno w Nowym Wydaniu!</a></h6>
                                    </div>
                                    <div class="wt-post-meta">
                                        <ul>
                                            <li class="post-author"><i class="fa fa-user"></i>Przez MAGIC SALON</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- USEFUL LINKS -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget_services">
                        <h4 class="widget-title">Nawigacja strony</h4>
                        <ul>
                            <li><a href="o-firmie.html">O firmie</a></li>
                            <li><a href="opinie-klientow.html">Opinie klientów</a></li>
                            <li><a href="oferta.html">Oferta</a></li>
                            <li><a href="faq-pytania.html">FAQ & Pytania</a></li>
                            <li><a href="galeria.html">Galeria</a></li>
                            <li><a href="zarezerwuj-wizyte.html">Zarezerwuj wizytę</a></li>
                        </ul>
                    </div>
                </div>
                <!-- NEWSLETTER -->
                <div class="col-lg-3 col-md-6">
                    <!-- SOCIAL LINKS -->
                    <div class="widget widget_social_inks">
                        <h4 class="widget-title">Social media</h4>
                        <ul class="social-icons social-square social-darkest">
                            <li><a href="https://www.facebook.com/magicsalonpl" class="fa-brands fa-facebook ikonascale"
                                    target="_blank"></a></li>
                            <li><a href="https://www.instagram.com/magicsalonpl"
                                    class="fa-brands fa-instagram ikonascale" target="_blank"></a></li>
                            <li><a href="https://www.tiktok.com/@magicsalonpl" class="fa-brands fa-tiktok ikonascale"
                                    target="_blank"></a></li>
                            <li><a href="https://wa.me/48883481581" class="fa-brands fa-whatsapp ikonascale"
                                    target="_blank"></a></li>
                        </ul>
                    </div>
                    <div class="fb-page" data-href="https://www.facebook.com/magicsalonpl" data-tabs="" data-width=""
                        data-height="" data-small-header="false" data-adapt-container-width="true"
                        data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/magicsalonpl" class="fb-xfbml-parse-ignore"><a
                                href="https://www.facebook.com/magicsalonpl">MAGICSALON.pl - salon kosmetyczny / salon
                                beauty / spa / salon piękności</a></blockquote>
                    </div>
                </div>
            </div>

            <!-- DANE KONTAKTOWE STOPKA -->
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 p-tb20">
                    <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                        <div class="icon-md site-text-primary">
                            <span class="iconmoon-travel"></span>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text-uppercase m-b0">Adres salonu:</h5>
                            <p>ul. Borówkowa 13, 55-002 Dobrzykowice</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 p-tb20 ">
                    <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix ">
                        <div class="icon-md site-text-primary">
                            <span class="iconmoon-smartphone-1"></span>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text-uppercase m-b0">Numer telefonu:</h5>
                            <p class="m-b0"><a href="tel:+48 883 481 581">+48 883 481 581</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 p-tb20">
                    <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                        <div class="icon-md site-text-primary">
                            <span class="iconmoon-email"></span>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text-uppercase m-b0">Adres e-mail:</h5>
                            <p class="m-b0"><a href="mailto:biuro@magicsalon.pl">biuro@magicsalon.pl</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DANE KONTAKTOWE STOPKA END -->

        </div>
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom overlay-wraper">
        <div class="overlay-main"></div>
        <div class="constrot-strip"></div>
        <div class="container p-t30">
            <div class="row ftr-btm">
                <div class="wt-footer-bot-left">
                    <span class="copyrights-text">© All Rights Reserved. MAGICSALON.pl - salon kosmetyczny / salon
                        beauty / salon piękności. <a class="colorsecondary" target="_blank" rel="dofollow"
                            href="https://pbmediaonline.pl">PB MEDIA Studio Strony &amp; Sklepy Internetowe</a></span>
                </div>
                <div class="wt-footer-bot-right">
                    <ul class="copyrights-nav pull-right">
                        <li><a href="polityka-prywatnosci-rodo.html">Polityka Prywatności & RODO</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->

</div>

<!-- LOADING AREA START ===== -->
<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="cssload-container">
            <div class="cssload-progress cssload-float cssload-shadow">
                <div class="cssload-progress-item"></div>
            </div>
        </div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->