<!-- Search Form -->
<div class="sticky-header main-bar-wraper">
    <div class="main-bar header-botton nav-bg-secondry">
        <div class="container">
            <!-- NAV Toggle Button -->
            <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button"
                class="navbar-toggler collapsed">
                <span class="sr-only"></span>
                <span class="icon-bar icon-bar-first"></span>
                <span class="icon-bar icon-bar-two"></span>
                <span class="icon-bar icon-bar-three"></span>
            </button>

            <!-- MAIN Nav -->
            <div class="header-nav navbar-collapse collapse ">
                <ul class=" nav navbar-nav">
                    <li class="active">
                        <a href="index.html"><i class="fa-solid fa-house"></i> Strona Główna</a>
                    </li>

                    <li>
                        <a href="o-firmie.html"><i class="fa-solid fa-arrow-right"></i> O firmie <i
                                class="fa fa-chevron-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="o-nas/zabiegi-na-twarz.html"><i class="fa-solid fa-right-long"></i> Zabiegi na
                                    twarz</a></li>
                            <li><a href="o-nas/epilacja-i-pielegnacja.html"><i class="fa-solid fa-right-long"></i>
                                    Epilacja i pielęgnacja</a></li>
                            <li><a href="o-nas/zabiegi-na-cialo.html"><i class="fa-solid fa-right-long"></i> Zabiegi na
                                    ciało</a></li>
                            <li><a href="o-nas/blog.html"><i class="fa-solid fa-right-long"></i> Blog MAGIC SALON</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="opinie-klientow.html"><i class="fa-solid fa-thumbs-up"></i> Opinie</a>
                    </li>

                    <li>
                        <a href="faq-pytania.html"><i class="fa-solid fa-comments"></i> FAQ & Pytania</a>
                    </li>

                    <li class="has-mega-menu">
                        <a href="oferta.html"><i class="fa-solid fa-arrow-right"></i> Oferta <i
                                class="fa fa-chevron-down"></i></a>
                        <ul class="mega-menu">
                            <li>

                                <ul>
                                    <li><a href="nasza-oferta/epilacja-laserowa.html"><i
                                                class="fa-solid fa-right-long"></i> Epilacja laserowa</a></li>
                                    <li><a href="nasza-oferta/peeling-kawitacyjny.html"><i
                                                class="fa-solid fa-right-long"></i> Peeling kawitacyjny</a></li>
                                    <li><a href="nasza-oferta/lifting-i-laminacja-rzes.html"><i
                                                class="fa-solid fa-right-long"></i> Lifting i laminacja rzęs</a></li>
                                    <li><a href="nasza-oferta/architektura-i-laminacja-brwi.html"><i
                                                class="fa-solid fa-right-long"></i> Architektura i laminacja brwi</a>
                                    </li>
                                    <li><a href="nasza-oferta/detox-drenaz.html"><i class="fa-solid fa-right-long"></i>
                                            Detox & Drenaż</a></li>
                                </ul>

                            </li>

                            <li>

                                <ul>
                                    <li><a href="nasza-oferta/glow-lift.html"><i class="fa-solid fa-right-long"></i>
                                            Glow & Lift</a></li>
                                    <li><a href="nasza-oferta/modelowanie-360.html"><i
                                                class="fa-solid fa-right-long"></i> Modelowanie 360°</a></li>
                                    <li><a href="nasza-oferta/dermomasaz.html"><i class="fa-solid fa-right-long"></i>
                                            Dermomasaż</a></li>
                                    <li><a href="nasza-oferta/liposukcja-ultradzwiekowa.html"><i
                                                class="fa-solid fa-right-long"></i> Liposukcja ultradźwiękowa</a></li>
                                    <li><a href="nasza-oferta/lipolaser-duo.html"><i class="fa-solid fa-right-long"></i>
                                            Lipolaser DUO</a></li>
                                </ul>

                            </li>

                            <li>

                                <ul>
                                    <li><a href="nasza-oferta/silkroll.html"><i class="fa-solid fa-right-long"></i>
                                            SilkRoll</a></li>
                                    <li><a href="nasza-oferta/depilacja-woskiem.html"><i
                                                class="fa-solid fa-right-long"></i> Depilacja woskiem</a></li>
                                    <li><a href="nasza-oferta/przedluzanie-i-zageszczanie-rzes.html"><i
                                                class="fa-solid fa-right-long"></i> Przedłużanie i zagęszczanie rzęs</a>
                                    </li>
                                </ul>

                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="galeria.html"><i class="fa-solid fa-images"></i> Galeria</a>
                    </li>

                    <li>
                        <a href="cennik.html"><i class="fa-solid fa-tag"></i> Cennik</a>
                    </li>

                    <li>
                        <a href="zarezerwuj-wizyte.html"><i class="fa-solid fa-calendar"></i> Zarezerwuj wizytę</a>
                    </li>

                    <li>
                        <a href="kontakt.html"><i class="fa-solid fa-phone-volume"></i> Kontakt</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>